<ion-view view-title="WHO WE ARE">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list half" style="width: 100%; margin-top: -12%;">
                <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                    <div class="ink dark-bg">
                        <h2>WHO ARE WE</h2>
                        <img class="full-image" src="img/impossible.jpg">
                    </div>
                    <!--<div class="item tabs tabs-secondary tabs-icon-left" style="height: 80px; background-color: #E9E9E9">
                       <&lt;!&ndash;span style="line-height: 20px; margin-left: 3%;">Prism Institute also provide specially tailored courses for enhancing effectiveness
                            in organization management and remains the premier destination for specialized accredited
                            trainings.</span>&ndash;&gt;
                        &lt;!&ndash; <a class="tab-item stable-bg assertive">
                            <i class="icon ion-heart"></i>
                            4
                        </a>
                        <a class="tab-item stable-bg positive-900">
                            <i class="icon ion-chatbubbles"></i>
                            2
                        </a>&ndash;&gt;
                    </div>-->
                </div>
                <h3>Our Mission</h3>
                <span class="bt"> To provide professional quality training in the field of Health and safety,
                Technical improvement courses and organizational Management in reach out
                manner as well as to promote safety and encourage proactiveness among organizations.</span>
                <hr/>
                <h3>Vision</h3>
                <span class="bt"> Helping Organizations for substantial quality business development</span>
                <hr/>
                <h3>Our Values</h3>
                <b class="bt">P</b>rofessionalism
                <br/>
                <b class="bt">R</b>ecognition
                <br/>
                <b class="bt">I</b>ntegrity
                <br/>
                <b class="bt">S</b>afety
                <br/>
                <b class="bt">M</b>odel
               <!-- <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                    <div class="ink dark-bg">
                        <h2>Hmm. Hope nobody destroys this!</h2>
                        <img class="full-image" src="img/sansa-snowcastle.png">
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item stable-bg assertive">
                            <i class="icon ion-heart"></i>
                            6
                        </a>
                        <a class="tab-item stable-bg positive-900">
                            <i class="icon ion-chatbubbles"></i>
                            1
                        </a>
                    </div>
                </div> -->
            </div>

                <!--<a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Jon Snow</h2>
                    <p>Da illest illegitimate</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/daenerys.jpg">
                    <h2>Daenerys Targaryen</h2>
                    <p>Dragon mommy</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/arya.jpg">
                    <h2>Arya Stark</h2>
                    <p>Is Chuck Norris' fear</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/sansa.jpg">
                    <h2>Sansa Stark</h2>
                    <p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/tyrion.jpg">
                    <h2>Tyrion Lannister</h2>
                    <p>B.A.M.F. imp</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>-->
            </div>
        </div>
    </ion-content>
</ion-view>
