<ion-view view-title="Contact Us">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <h1 style="color: #000001; margin-left: 3%">Contact</h1>
        <div class="list" style="width: 94%; margin-top: -8%;">
            <ion-md-input placeholder="Name" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Mobile" highlight-color="energized" type="password"></ion-md-input>
            <ion-md-input placeholder="Email" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Message" highlight-color="balanced" type="text" size="4"></ion-md-input>
            <div class="padding">
                <button class="button button-full button-assertive ink" style="width: 40%;">Send</button>
            </div>
        </div>

        <div class="item card-item" style="margin-top: -10%;">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <p style="margin-left: -25%;">Email: info@prismgc.com <br/>
                    Number: (021)34324021 <br/>
                    Address: Suite No 402 Business Centre <br/>
                    Block# 06, P.E.C.H.S <br/>
                        Main Shahrah-e-Faisal Karachi, Pakistan.</p>
                </div>
            </div>
        </div>
       <!-- <div id="social">
            <img src="img/flogo.png" class="sftll" alt="Facebook Link"/>
            <img src="img/tw.png" alt="Twitter Link" style="height: 70px;width: 70px;"/>
            <img src="img/linkedIn.png" class="sftll" alt="Linkedin link"/>
        </div>
        <div>
            <img src="img/prismLogo.png" alt="PrismLogo.png" />
        </div>-->

        <!--<p style="margin-left: 7%">
            E-mail: info@prismgc.com Phone <br/> Number: (021)34324021 <br/>
            Address: Suite No 402 Business Centre <br/>
                    Block# 06, P.E.C.H.S Main <br/>
                    Shahrah-e-Faisal Karachi <br/>
                    Pakistan.
        </p>-->

        <!-- <div class="list half">
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Where's Elsa?</h2>
                    <img class="full-image" src="img/sansa-snowcastle3.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        4
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        2
                    </a>
                </div>
            </div>
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Hmm. Hope nobody destroys this!</h2>
                    <img class="full-image" src="img/sansa-snowcastle.png">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        6
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        1
                    </a>
                </div>
            </div>
        </div> -->
       <!-- <div class="list half">
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Making Olaf a House</h2>
                    <img class="full-image" src="img/sansa-snowcastle2.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        22
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        9
                    </a>
                </div>
            </div>
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>ohai!</h2>
                    <img class="full-image" src="img/sansa-snowcastle4.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        8
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        0
                    </a>
                </div>
            </div>
        </div> -->
    </ion-content>
</ion-view>
