<ion-view view-title="Prism Group of Companies">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <!--<div class="content">
               &lt;!&ndash; <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div> &ndash;&gt;
                <h3><a class="light">Professional Qualtiy Trainig Provider </a></h3>
            </div>-->
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Detail Courses
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Who we are
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Contact Us
            </a>
        </div>
        <h4 class="content padding double-padding-x">Our Courses</h4>
        <div class="list animate-fade-slide-in-right" style="margin-top: 10%;">
            <a ui-sref="app.activity" class="item item-avatar item-icon-right">
                <img src="img/cap.png">
                <h2>HSE</h2>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.activity" class="item item-avatar item-icon-right">
                <img src="img/tyrion.png">
                <h2>Lead Uditor Courses</h2>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.activity" class="item item-avatar item-icon-right">
                <img src="img/hr-manag.png">
                <h2>HR and Managment</h2>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.activity" class="item item-avatar item-icon-right">
                <img src="img/finance.png">
                <h2>Finanace</h2>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.activity" class="item item-avatar item-icon-right">
                <img src="img/itbased.png">
                <h2>IT based Courses</h2>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.activity" class="item item-avatar item-icon-right">
                <img src="img/tailored_made_courses.png">
                <h2>Tailored Made Courses</h2>
                <i class="icon ion-chatbubble muted"></i>
            </a>

        </div>
    </ion-content>
</ion-view>
